@using Proje.ViewModels
@model KullaniciDetailViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-success" href="/Kullanici/Yeni">Öğretim Elemanı Ekle</a>
<h2>Öğretim Elemanı Listesi</h2>
<table class="table table-bordered" id="tblKullanici">
    <thead>
        <tr>
            <th>Sicil Numarası</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Şifre</th>
            <th>Rolü</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kullanici in Model.KullaniciList)
        {
        <tr>
            <td>@kullanici.Sicil_No</td>
            <td>@kullanici.Ad</td>
            <td>@kullanici.Soyad</td>
            <td>@kullanici.Sifre</td>
            <td>@kullanici.RolAdi</td>
            <td><a class="btn btn-primary" href="/Kullanici/Guncelle/@kullanici.Sicil_No">Güncelle</a></td>
            <td><a class="btn btn-warning" href="/Kullanici/Sil/@kullanici.Sicil_No">Sil</a></td>
        </tr>
        }
    </tbody>
</table>

