@model Proje.ViewModels.KullaniciViewModel
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Öğretim Elemanı Ekleme</h2>
@using (Html.BeginForm("KullaniciEkle", "User", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Sicil_No)
        @Html.TextBoxFor(m => m.Sicil_No, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Sicil_No, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ad)
        @Html.TextBoxFor(m => m.Ad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Ad, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Soyad)
        @Html.TextBoxFor(m => m.Soyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Soyad, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sifre)
        @Html.TextBoxFor(m => m.Sifre, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Sifre, "", new { @class = "text-danger" })
    </div>
    <div class="form-group" style="height:100% !important;">
        <label>Rol Seçiniz:</label>
        @Html.DropDownListFor(m => m.Rol_Id, new SelectList(Model.Roller, "Rol_Id", "Rol_Adi", Model.Rol_Id), "Seçiniz", new { @class = "form-control", style = "height:100%" })
        @Html.ValidationMessageFor(m => m.Rol_Id, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
    <span style="color:red;">@ViewBag.Mesaj</span>
}

