@using Proje.ViewModels
@model DerslerimDetailViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Derslerim</h2>
<table class="table table-bordered" id="tblDerslerim">
    <thead>
    <th>Fakülte</th>
    <th>Bölüm</th>
    <th>Dönem</th>
    <th>Ders</th>
    <th>Sınav Türü</th>
    <th>Sil</th>
    </thead>
    <tbody>
        @foreach (var derslerim in Model.derslerimDetail)
        {
            <tr>
                <td>@derslerim.Fakulte_Adi</td>
                <td><a href="/Derslerim/BolumKazanim/@derslerim.Bolum_ıd">@derslerim.Bolum_Adi</a></td>
                <td>@derslerim.Donem_Adi</td>
                <td><a href="/Derslerim/DersKazanim/@derslerim.Ders_Kodu">@derslerim.Ders_Adi</a></td>
                <td><a href="/Derslerim/OpenExcel/@derslerim.Id">@derslerim.Sinav_Turu_Adi</a></td>
                <td><a class="btn btn-warning" href="/Derslerim/Sil/@derslerim.Id">Sil</a></td>
            </tr>
        }
    </tbody>
</table>

