@using Proje.ViewModels
@using Proje.Controllers
@model SinavOkutmaViewModel
@{
    ViewBag.Title = "Kiyasla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Excel", "SinavOkutma", FormMethod.Post))
{
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <h2>Sınav Bilgileri</h2>
        <button type="submit" class="btn btn-primary">Excel Aktar</button>

        <!-- HiddenFor lar yol göndermek için -->
        @Html.HiddenFor(m => m.yol, new { @class = "form-control" })
        @Html.HiddenFor(m => m.yol2, new { @class = "form-control" })

        <table class="table table-bordered">
            <thead>
            <th></th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Numara</th>
            <th>Grup</th>
            <th>Cevap</th>
            <th>Puan</th>
            </thead>
            @for (int satir = 0; satir < ViewBag.sayici; satir++)
            {
                <tbody>
                    <tr>
                        <td><h5>@satir</h5></td>
                        <td>@Html.TextBoxFor(m => m.ad[satir], new { @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(m => m.soyad[satir], new { @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(m => m.numara[satir], new { @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(m => m.grup[satir], new { @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(m => m.ogrCevap[satir], new { @class = "form-control" })</td>
                        <td>@Html.TextBoxFor(m => m.ogrPuan[satir], new { @class = "form-control" })</td>
                    </tr>
                </tbody>

            }
        </table>
        <h2>Soru Kazanım</h2>
        <table class="table table-bordered">
            <thead>
            <th></th>
            <th><h5>Kazanım</h5></th>
            <th><h5>Kazanım2</h5></th>
            <th><h5>Kazanım3</h5></th>
            <th><h5>Kazanım4</h5></th>
            <th><h5>Kazanım5</h5></th>
            </thead>
            @for (int satir = 1; satir <= 30; satir++)
            {
                <tbody>
                    <tr>
                        <td><h5>@satir .Soru</h5></td>
                        <td>
                            <input id="Kazanim" type="checkbox" value="true" name="IsSelected" />
                            <input id="Kazanimh" type="hidden" value="false" name="IsSelected" />
                        </td>
                        <td>
                            <input id="Kazanim2" type="checkbox" value="true" name="IsSelected" />
                            <input id="Kazanimh2" type="hidden" value="false" name="IsSelected" />
                        </td>
                        <td>
                            <input id="Kazanim3" type="checkbox" value="true" name="IsSelected" />
                            <input id="Kazanimh3" type="hidden" value="false" name="IsSelected" />
                        </td>
                        <td>
                            <input id="Kazanim4" type="checkbox" value="true" name="IsSelected" />
                            <input id="Kazanimh4" type="hidden" value="false" name="IsSelected" />
                        </td>
                        <td>
                            <input id="Kazanim5" type="checkbox" value="true" name="IsSelected" />
                            <input id="Kazanimh5" type="hidden" value="false" name="IsSelected" />
                        </td>
                    </tr>
                </tbody>

            }
        </table>
    </body>
</html>
}


