@using Proje.ViewModels
@model DersDetailViewModel
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Ders Güncelle</h2>
@using (Html.BeginForm("Guncelle", "Ders", FormMethod.Post))
{
    <div class="form-group" style="height:100% !important;">
        <label>Fakülte Seçiniz:</label>
        @Html.DropDownListFor(m => m.UpdatedDers.Fakulte_No, new SelectList(Model.Fakulte, "Fakulte_No", "Fakulte_Adi", Model.UpdatedDers.Fakulte_No), (Model.Fakulte != null ? Model.UpdatedDers.Fakulte_Adi : "Seçiniz"), new { @class = "form-control", style = "height:100%", required = "required" })
        @Html.ValidationMessageFor(m => m.UpdatedDers.Fakulte_No, "", new { @class = "text-danger" })
    </div>
    <div class="form-group" style="height:100% !important;">
        <label>Bölüm Seçiniz:</label>
        @Html.DropDownListFor(m => m.UpdatedDers.Bolum_Id, new SelectList(Model.Bolum, "Bolum_Id", "Bolum_Adi", Model.UpdatedDers.Bolum_Id), (Model.Bolum != null ? Model.UpdatedDers.Bolum_Adi : "Seçiniz"), new { @class = "form-control", style = "height:100%", required = "required" })
        @Html.ValidationMessageFor(m => m.UpdatedDers.Bolum_Id, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Ders Kodu:</label>
        @Html.TextBoxFor(m => m.UpdatedDers.Ders_Kodu, new { @class = "form-control", @readonly="readonly" })
        @Html.ValidationMessageFor(m => m.UpdatedDers.Ders_Kodu, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Ders Adı:</label>
        @Html.TextBoxFor(m => m.UpdatedDers.Ders_Adi, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(m => m.UpdatedDers.Ders_Adi, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Ders Kazanımları:</label>
        @Html.TextAreaFor(m => m.UpdatedDers.Ders_Ogrenme, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(m => m.UpdatedDers.Ders_Ogrenme, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
    <span style="color:red;">@ViewBag.Mesaj</span>
    @Html.HiddenFor(m => m.UpdatedDers.Bolum_Id)
    @Html.HiddenFor(m => m.UpdatedDers.Ders_Kazanim_Id)
}




